.jumbotron img{
    width: 200px;
    height: 200px;
    
}
.jumbotron{
    background-image: url(b.jpg);
    background-attachment: fixed;
    overflow: hidden;    
}
.jumbotron p, .jumbotron h1{
    color: white;
}