.gallery hr{
    width: 250px;
    border-top: 2px solid white;    
}
.gallery h2{
    color: white;
}
.gallery img{
    width: 200px;
    height: 200px;
    border: 5px solid #666;
}
.gallery{
    padding-top: 30px;
}
section{
    min-height: 600px;
    color: white;
    font-family: sans-serif;
}