.App {background-image: url(copy.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      /* margin-bottom: 100px; */
      background-size: cover;
      position: relative;
      color: white;             
}
.card{
  background-image:url(copy.jpg); 
}
.btn{
  background-image:url(copy.jpg);
  
}
.App hr{
    width: 250px;
    border-top: 2px solid white; 
}
section{
  min-height: 600px;
  color: white;
  font-family: sans-serif;
}



















/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
                               */