footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(copy.jpg);
    color: white;
    padding-top: 30px;

}
footer p{
    font-size: 0.9em;
    
}